@font-face {
  font-family: 'amblebold';
  src: url('../../fonts/Amble/amble-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amblelight';
  src: url('../../fonts/Amble/amble-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amblelight_italic';
  src: url('../../fonts/Amble/amble-lightitalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ambleregular';
  src: url('../../fonts/Amble/amble-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'big_johnregular';
  src: url('../../fonts/Big_John_Slim_Joe/big_john-webfont.woff2')
    format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'slim_joeregular';
  src: url('../../fonts/Big_John_Slim_Joe/slim_joe-webfont.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
