section.about
  .container
    h2.title.about--title About us
    p.about__descriptions.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris.
    ul.about__list
      li.about__item
        img.about__picture(src='../img/team-1.jpg' alt='Team 1')
        .about__item-overlay
          span.about__icon
          h3.about__name John
          span.about__profession CEO/Founder
      li.about__item
        img.about__picture(src='../img/team-2.jpg' alt='Team 1')
        .about__item-overlay
          span.about__icon
          h3.about__name John
          span.about__profession CEO/Founder
      li.about__item
        img.about__picture(src='../img/team-3.jpg' alt='Team 1')
        .about__item-overlay
          span.about__icon
          h3.about__name John
          span.about__profession CEO/Founder
      li.about__item.about--hiring
        h3.title.about--title We are #[br] hiring
        button.btn.btn--short.about--btn Apply 