section.choose
  .container
    h2.title.choose--title Why choose us
    p.choose__descriptions.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris.
    ul.choose__list
      li.choose__item
        img.choose__icon(src="../img/iphone.png", alt="Iphone")
        h3.choose__title App Design
        p.choose__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed do eiusmod tempor ilabore et dolore.
      li.choose__item
        img.choose__icon(src="../img/ipad.png", alt="Iphone")
        h3.choose__title Responsive Loyaut
        p.choose__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed do eiusmod tempor ilabore et dolore.
      li.choose__item
        img.choose__icon(src="../img/macbook.png", alt="Iphone")
        h3.choose__title Pixel Perfect Design
        p.choose__text.
          Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed do eiusmod tempor ilabore et dolore.