section.clients
  .container
    h2.title Our Clients
    ul.clients__list
      li.clients__item
        img(src="img/google.png", alt="Google")
      li.clients__item
        img(src="img/samsung.png", alt="Samsung")
      li.clients__item
        img(src="img/flickr.png", alt="Flickr")
      li.clients__item
        img(src="img/foursquare.png", alt="foursquare")
      li.clients__item
        img(src="img/printerest.png", alt="Printerest")