header.header
  include ../blocks/burger-menu
  .header__content
    h1.title.header--title We've got the talent
    p.header__descriptions.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa.
  .header__icon-scroll
    img.header__icon-scroll-picture(src="img/hero-icon-scroll.png", alt="Icon scroll")