section.introduction
  .container
    .introduction__content
      h2.title.introduction--title Introduction
      p.introduction__descriptions.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris.