section.works
  .container
    h2.title Some of our work
    ul.works-list-headers
      li.works-list-headers__item
        span.works-list-headers__title.works-list-headers--active All
      li.works-list-headers__item
        span.works-list-headers__title Branding
      li.works-list-headers__item
        span.works-list-headers__title Web design
      li.works-list-headers__item
        span.works-list-headers__title Mobile UI
      li.works-list-headers__item
        span.works-list-headers__title Illustrations
    ul.works-list-works
      li.works-list-works__item
        a.works-list-works__link(href='#')
          img.works-list-works__picture(src="../img/work-1.jpg", alt="Work 1")
          .works-list-works__overlay
            b.works-list-works__header Mobile UI
            span.works-list-works__descriptions Google Mail
      li.works-list-works__item
        a.works-list-works__link(href='#')
          img.works-list-works__picture(src="../img/work-2.jpg", alt="Work 2")
          .works-list-works__overlay
            b.works-list-works__header Mobile UI
            span.works-list-works__descriptions Google Mail
      li.works-list-works__item
        a.works-list-works__link(href='#')
          img.works-list-works__picture(src="../img/work-3.jpg", alt="Work 3")
          .works-list-works__overlay
            b.works-list-works__header Mobile UI
            span.works-list-works__descriptions Google Mail
      li.works-list-works__item
        a.works-list-works__link(href='#')
          img.works-list-works__picture(src="../img/work-4.jpg", alt="Work 4")
          .works-list-works__overlay
            b.works-list-works__header Mobile UI
            span.works-list-works__descriptions Google Mail
      li.works-list-works__item
        a.works-list-works__link(href='#')
          img.works-list-works__picture(src="../img/work-5.jpg", alt="Work 5")
          .works-list-works__overlay
            b.works-list-works__header Mobile UI
            span.works-list-works__descriptions Google Mail
      li.works-list-works__item
        a.works-list-works__link(href='#')
          img.works-list-works__picture(src="../img/work-6.jpg", alt="Work 6")
          .works-list-works__overlay
            b.works-list-works__header Mobile UI
            span.works-list-works__descriptions Google Mail

    button.btn.btn--small.works--btn Show me more      

