doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Casablanca

		link(rel='stylesheet' href='css/main.min.css')
	body
		include sections/header
		include sections/introduction
		include sections/creativity
		include sections/works
		include sections/help
		include sections/clients
		include sections/about
		include sections/video
		include sections/choose
		include sections/quote
		include sections/touch
		include sections/location
		include sections/footer
		
		script(src='js/main.min.js')